@import url('https://fonts.googleapis.com/css2?family=crimson+pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Crimson Pro", Literata;
}

:root{
    --white: rgb(236, 201, 154);
    --white2:rgb(44, 161, 136); 
    --black:rgb(2, 2, 2);
    --principal:rgb(2, 31, 20);
    --second: rgb(218, 68, 23);
    --black2:rgb(2, 2, 2);
}

body{
    background-color: var(--white);
    min-width: 100%;
}

.navegacion{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 60px;
    background-color: var(--principal);
    padding: 0 20px;
}

.navegacion .logo{
    position: relative;
    display: flex;
    line-height: 60px;
    color: var(--white2);
    pointer-events: none;

}

.navegacion .logo .icon{
    height: 100%;
    position: relative;
    top: 10px;
}

.navegacion .logo .icon ioon-icon{
    font-size: 2em;
    line-height: 70px;
}

.navegacion .logo .nameP{
    font-size: 1.75em;
    font-weight: 600;
}

.navegacion ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 100%;
}

.navegacion ul li{
    position: relative;
    display: flex;
    list-style: none;
    margin-left: 15px;
    font-size: 1.1em;
    height: 100%;
    align-items: center;
    padding: 0 5px;
    transition: .4s;
}

.navegacion ul li a{
    text-decoration: none;
    color: var(--white2);
    font-weight: 500;
}

.navegacion ul li :hover{
    background-color: var(--second);
}

/*main*/
main{
    position: relative;
    height: calc(100vh - 60px);
    overflow: hidden;
    top: 60px;
}

.jumboBx{
    position: inherit;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
    width: 100%;
    column-gap: 6px;
}

.jumboBx .heroImg{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    opacity: .8;
    box-shadow: lawngreen;
}

.jumboBx .heroImg .imgBx{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.jumboBx .heroImg .imgBx img{
    position: absolute;
    width: 400px;
    height: 400px;
}

.jumboBx .heroImg .imgBx img:nth-child(1){
    top:30%;
    left:-6%;
    transform: scale(1.1);
}

.jumboBx .heroImg .imgBx img:nth-child(2){
    top:40%;
    left:69%;
    transform: scale(1.2);
}

.jumboBx .heroImg .imgBx img:nth-child(3){
    top:26%;
    left:28%;   
    transform: scale(1.1);
}

.TITULO{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.TITULO h1{
    font-size: 3.2em;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    margin-bottom: .4em;
    text-align: center;
}

.TITULO h1::first-letter{
    font-size: 3em;
    color: rgb(173, 163, 24);
}

.TITULO h2{
    font-size: 1.5em;
    margin-bottom: 2em;
    color: var(--black2);
    font-weight: 400;
    text-align: justify;
}

.TITULO h2 span{
    background-color: var(--principal);
    color: var(--white2);
    padding: 5px;
    border-radius: 5px;
}

.TITULO h2 span a{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}
